#hudai{
    background-color: tomato;
    border: 2px dotted black;
    border-radius: 30px;
}

#header{
    background-color: darkcyan;
    text-align: center;
    border: 30px solid black;
    border-radius: 30px;
}

.front{
    font-size: 20px;
}

#size{
    front-size: 15px;
}

#tycss{
    background-color: chocolate;
    border: 5px dotted black;
    border-radius: 30px;
}

#fot{
    background-color: darkcyan;
    border: 20px solid black;
    border-radius: 20px;
    text-align: center;
}